@using Entities;
@model Order
@{
    Layout = null;
}

<input type = "text" placeholder="@Model.Number"/>
<input type = "date" placeholder="@Model.Date"/>
@*<select>
    @foreach(var el in Model.)
    {
        <option value="@el.Id">@el.Name</option>
    }
</select>*@

<script></script>